
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

 
  }
  .form input, .form textarea, .form button {
    font-family: "Roboto Condensed";
    font-size: inherit;
    border: 1px solid #1C1C1C;
    background: white;
    padding: 0.7rem 0.8rem;
    margin: 1rem;
    border-radius: 4px;
  }
  .form textarea {
    resize: vertical;
  }
  .form button {
    border: 1px solid var(--orange);
    background-color: transparent;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
    justify-self: start;
    cursor: pointer;
    border-radius: 50px;
    white-space: nowrap;
    font-size: 1rem;
    outline: none;
    min-width: 100px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s !important;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--orange);
  }


  .form button:hover {

      background: transparent;
      transform: translateY(-2px);
      color: var(--white);
      border: 2px solid var(--white);
  }
  .fieldErrors {
    margin-top: -0.5rem;
    font-size: small;
    color: crimson;
    justify-self: right;
    grid-column: 1/span 2;
  }
  .formErrors {
    margin-top: 0.5rem;
    color: crimson;
    align-self: center; 
    grid-column: 2/span 1; 
  }
